* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  font-family: $inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: $black;
  background: $darkPink;
}

button {
  font-family: inherit;
  cursor: pointer;
}
