$inter: 'Inter';
$openSans: 'Open Sans';

$white: #fff;
$black: #000;

$dark: #0f0e17;
$brown: #571032;
$orange: #f25f4c;
$darkPink: #b07289;
$pink: #e53170;
$lightPink: #fceef5;

$transition: 0.1s ease-in-out;
