.priority-legend {
  width: fit-content;
  padding: 3px 5px;
  font-family: $openSans;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  text-transform: capitalize;
  user-select: none;

  &--high {
    color: $brown;
    background: $lightPink;
  }

  &--medium {
    color: #b07289;
    background: #f8f2f4;
  }

  &--low {
    color: #bf97a6;
    background: #f9f4f6;
  }
}
